<div style="font-family: 'Chela One', cursive;">
  <br>
  <br>
  <h2 class="text-center pt-5 heading">github SearchEngine</h2>
  <app-search (emitUserName)="searchUserName($event)"></app-search>
  <div class="row" *ngFor="let user of users">
    <div class="col-md-5 pt-5">
      <div class="card">
        <div class="card-body">
          <div class="container contents">
            <div>
              <img src="{{user.avatar_url}}" class="card-img rounded-circle ">
              <h1 class="text-dark" style="padding:25px">{{user.name}}</h1>
            </div>
          </div>
        </div>
      </div>
    </div>

    <div class="col-md-7 pt-5">
      <div class="card">
        <div class="card-body">
          <div class="card profile">
            <div class="card-header">
              <h1 class="text-info" style="padding:20px">{{user.login}}</h1>
              <p><strong>Repositories:</strong> {{user.public_repos}}</p>
              <p><strong>Located at:</strong> {{user.location}}</p>
              <p><strong>Created at:</strong> {{user.created_at|date}} </p>
              <p><strong>Followed by:</strong> {{user.followers}}</p>
              <p><strong>Following:</strong> {{user.following}}</p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
